@model IEnumerable<TravelGuide.Models.Class1>

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalResults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.keyword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalResults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Search For Something Else", "SearchForThings", "Home")</p>
