@model TravelGuide.Models.SearchItem

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.keyword)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.organic)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.totalResults)
        </td>
        <th></th>
    </tr>


</table>
@for (int i = 0; i < Model.currentPage; i++)
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(model => model.keyword)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(model => model.organic)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(model => model.totalResults)
            </td>
            <td>
                
            </td>
        </tr>
    </table>

}
<br />

<p>@Html.ActionLink("Search for Something Else", "SearchForThings", "Home")</p>
